@model SakshamEMSApi.Models.Student
<div>
    <form id="EditStudentForm">
        @Html.HiddenFor(m => m.StudentID, new { @id = "studentid" })

        @Html.LabelFor(model => model.Name, "Name")
        @Html.TextBoxFor(model => model.Name, new { @id = "name", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error" })

        @Html.LabelFor(model => model.StudentNo, "Student Number")
        @Html.TextBoxFor(model => model.StudentNo, new { @id = "stdnumber", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "error" })

        @Html.LabelFor(model => model.Branch, "Branch")
        @Html.TextBoxFor(model => model.Branch, new { @id = "branch", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "error" })

        @Html.LabelFor(model => model.Year, "Year")
        @Html.TextBoxFor(model => model.Year, new { @id = "year", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "error" })

        @Html.LabelFor(model => model.ContactNumber, "Contact Number")
        @Html.TextBoxFor(model => model.ContactNumber, new { @id = "contact", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "error" })

        @Html.LabelFor(model => model.SportsInterested, "Sports Interested")
        @Html.TextBoxFor(model => model.SportsInterested, new { @id = "sports", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SportsInterested, "", new { @class = "error" })

        @Html.LabelFor(model => model.Hosteler, "Hosteler")
        @Html.TextBoxFor(model => model.Hosteler, new { @id = "hosteler", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Hosteler, "", new { @class = "error" })

        @Html.LabelFor(model => model.Gender, "Gender")
        @Html.TextBoxFor(model => model.Gender, new { @id = "gender", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "error" })

        <div>
            <a href="#" id="btnUpdateStudent" class="btn btn-success center">
                @if (Model.StudentID > 0)
                {
                    <span>Update</span>
                }
            </a>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#btnUpdateStudent").click(function () {
            debugger
            //var editedData = $("#EditStudentForm").serialize();
            var editedData = {
                'StudentID': $("#studentid").val(),
                'Name': $("#name").val().toString(),
                'StudentNo': $("#stdnumber").val().toString(),
                'Branch': $("#branch").val().toString(),
                'Year': $("#year").val().toString(),
                'ContactNumber': $("#contact").val().toString(),
                'SportsInterested': $("#sports").val().toString(),
                'Hosteler': $("#hosteler").val().toString(),
                'Gender': $("#gender").val().toString()
            };
            debugger
            if (!$("#EditStudentForm").valid()) {
                return false;
            }
            var URL = '@Url.Action("SaveStudentDetails", "Admin")';
            $.ajax({
                type: "POST",
                url: URL,
                data: { model: editedData },
                success: function () {
                    $("#EditStudentModal").modal('hide');
                    window.location.reload();
                }
            });
        });
    })
</script>
